<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<div class="container">
		<div class="page-header">
			<h1>
				About <small>What we aim for!</small>
			</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Helping you find solution</h3></div>
			<div class="panel-body">
				<p>The idea originated when we (the founders) were trying to find local plumbers, brick layers and odd handymen to help us with our odd jobs at home. It was really frustating process and took a really long time to get the job done. First we had to search and find a list of service providers. Then we had to contact them individually. More often than not, the service providers were not reachable.</p>
                <p>In some cases getting a quote proved to be difficult as the service providers will give a positive nod but when they hear about the job or when they visit, they will not clearly tell us if they want the job or not. This resulted in us waiting for a response where as the service providers are not even bothered to respond. </p>
                <p>We realised that there is an opportunity to help users broadcast their needs to all the interested service providers and then track the interest showing service providers. This would also mean that now, we could upload pictures of our job / status / repair and explain over audio message the exact nature of our job. </p>
                <p>We then thought that it would be nice to allow multiple service providers to show interest so that the user can then get best price from all of them to compare and decide. Meanwhile, the service providers could also see that there are multiple responses to the job and would make sure that they do their best to get the job, if they want it.</p> 
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>No Middleman</h3></div>
			<div class="panel-body">
				<p>To make sure that we are not taking advantage of the situation, we decided that we will not be involved within the discussions between the consumer & the service provider. We also do not get involved in the finanical agreement & transaction between the consumer and service providers. Our aim is to simply bring all the service providers to you and keep you informed of how many are active on our app looking for more work.</p> 
			</div>
		</div>

		<hr>
        
		<% include footer %>
	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>