<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<div class="container">
		<div class="page-header">
			<h1>
				How It Works <small>You are interested in knowing ... here goes!</small>
			</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Download & Use</h3></div>
			<div class="panel-body">
				<p>Download our app from the app store.</p> 
                <p>Once you open the App you are good to go ... </p>
                <p><u>Yes you heard us, that is all that is needed to start submitting your needs to the cloud</u></p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Suppliers</h3></div>
			<div class="panel-body">
                <p>So, you are a service provider and want to be provided with job leads in your area of service.</p>
                <p>No Problemo, when the app opens first time, please select YES, when the App asks you if you are a service provider. And then provide the types of services that you offer with base location & the radius in which you offer services.</p>
                <p>That is ALL</p>
                <p><u>Yes you heard us, that is all we will ask you and start feeding you the leads.</u></p>
                <p>We do need permission to use your GPS location to inform the customers as to where you are. You can choose your location to be anonymous but we highly recommend that you let customers know where are to help them quickly get in touch with you.<p>                
                <p>If you already have the App and want to register as service provider, go to the Settings and switch on the <b>I Provide Service</b> button.</p>
                <p>Planning to go offline and don't want to receive leads, just select the <b>GO OFFLINE</b> button in settings. Likewise, when you want to be online again to receive leads, just select <b>GO ONLINE</b> button in settings</p>
                
			</div>
		</div>

		<hr>
        
		<% include footer %>
	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>