<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
            <h1>Looking for Something?</h1>
			<p>If you are tired of searching online, directory enquiries and local business directories to get something or to get a job done, then we have exactly what you need. Tell the JungleBee what you want, and it will help you find the best service provider in your area.</p>
            <p>To exeprience our easy to use App, download our iOS & Android Apps from the app stores</p>
			<p>
		</div>
	</div>

	<div class="container">

        <div class="row">
        	<div class="col-md-12">
                <h2>How does it work?</h2>
            </div>
        </div>
        <!-- Example row of columns -->
        <div class="row">
        	<div class="col-md-4">
        		<h3>Tell Us</h3>
        		<p>Tell us what service you are looking for and provide details of what you want? No more wizards or complex & lengthy forms to fill in. You can record audio directly from your phone or write your requirments or upload files from your devices.</p>
        		<p>
        			<a class="btn btn-default" href="#" role="button">View details
        				&raquo;</a>
        		</p>
        	</div>
        	<div class="col-md-4">
        		<h3>Who Wants the Job</h3>
        		<p>We will immediately broadcast your requirements to all the service providers in your area and keep you updated about who has shown interest real-time.</p>
        		<p>
        			<a class="btn btn-default" href="#" role="button">View details
        				&raquo;</a>
        		</p>
        	</div>
        	<div class="col-md-4">
        		<h3>Get the Best Deal</h3>
        		<p>Multiple service providers can respond to you and we will connect all of them to you directly. We are not in the middle of your conversation with the service providers.</p>
        		<p>
        			<a class="btn btn-default" href="#" role="button">View details
        				&raquo;</a>
        		</p>
        	</div>
        </div>

		<% include footer %>
	</div>
	<!-- /container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>