<div class="row">
	<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Access Control</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-primary btn-block" type="button" href="/admin/clients">
                  Clients <span class="badge"><%=clients.length%></span>
                </a>
                <a class="btn btn-primary btn-block" type="button" href="/admin/users">
                  Users <span class="badge"><%=users.length%></span>
                </a>
                <a class="btn btn-primary btn-block" type="button" href="/admin/user-roles">
                  User Roles <span class="badge"><%=userroles.length%></span>
                </a>
            </div>
        </div>	
    </div>
	<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>	
    </div>
	<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>	
    </div>
</div>
