<div class="row">
	<div class="col-md-12">
        <h2>Suppliers</h2>
    </div>
</div>
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-4">
		<h3>Tell Us</h3>
		<p>Tell us what service you are looking for and provide details of what you want? No more wizards or complex & lengthy forms to fill in. You can record audio directly from your phone or write your requirments or upload files from your devices.</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h3>Who Wants the Job</h3>
		<p>We will immediately broadcast your requirements to all the service providers in your area and keep you updated about who has shown interest real-time.</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h3>Get the Best Deal</h3>
		<p>Multiple service providers can respond to you and we will connect all of them to you directly. We are not in the middle of your conversation with the service providers.</p>
		<p>
			<a class="btn btn-default" href="#" role="button">View details
				&raquo;</a>
		</p>
	</div>
</div>
